/* COLORS 
PRIMARY COLOR:2f44a7
SECONDARY COLOR: 4361ee
TERITIARY COLOR: a1b0f7
HOVER COLOR: 7b90f3
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 10px;
}

header {
  background-color: #a1b0f7;
  padding: 1rem 1rem;
}

/* NAVBAR SECTION  */

a.navbar-brand {
  color: #4361ee;
  font-size: 2.2rem;
}

a.navbar-brand:hover {
  color: #7b90f3;
}

a.nav-link {
  color: #4361ee;
  font-size: 1.6rem;
}

a.nav-link:hover {
  color: #7b90f3;
}

button.navbar-toggler {
  color: #4361ee;
}

/* HOME SECTION  */

.home-section {
  background-color: #fff;
  text-align: center;
  line-height: 1;
  padding: 2rem 2rem;
}

.title-img {
  width: 40%;
}

.title-text {
  font-size: 2.5rem;
  color: #4361ee;
  margin-bottom: 1rem;
}

.title-description {
  color: #4361ee;
  font-size: 1.8rem;
}

/* SERVICES SECTION  */

.service-section {
  padding: 2rem 2rem;
  background-color: #a1b0f7;
}

.card-img-top {
  height: 12rem;
}

.col-lg-3 {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.col-md-4 {
  padding: 1rem 0.2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.btn-primary {
  width: 100%;
}

.card {
  width: 25rem;
  border-radius: 2rem;
}

/* TESTIMONIAL SECTION  */
.testimonial-section {
  padding: 2rem 2rem;
  background-color: #fff;
}

img {
  border-radius: 4rem;
  height: 6rem;
  width: auto;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  column-gap: 5rem;
}

.testimonial-text {
  color: #4361ee;
}

.testimonial-name {
  color: #4361ee;
}

/* CONTACT SECTION  */

.contact-section {
  background-color: #a1b0f7;
  padding: 2rem 2rem;
}

div.mb-3 {
  margin: 1rem;
}

.form-label {
  margin: 1rem 0.5rem;
}

button.btn {
  width: 100%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #687eff;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

button.btn:hover {
  background: #566ee3;
  text-decoration: none;
  color: #7b90f3;
}

/* FOOTER SECTION  */

.footer-section {
  background-color: #fff;
  padding: 2rem 2rem;
}

.nav-links {
  text-align: center;
}

.nav-item {
  margin: 0rem 2rem;
}

.bi {
  color: #4361ee;
  font-size: 2.5rem;
}

.bi:hover {
  color: #7b90f3;
}

@media only screen and (max-width: 32rem) {
  .nav-links {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
